.ingredients {
  height: 100%;
  width: 100%;

  .ingredientsFilters {
    display: flex;
    flex-direction: row;
  }

  .ingredientsList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
