.ingredients {
  height: 100%;
  width: 100%;

  .ingredientsFilters {
    display: flex;
    flex-direction: row;
  }

  .ingredientsList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.ingredientContent {
  display: flex;
  align-items: flex-start;
  height: 100%;

  .ingredientImage {
    position: relative;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 50%;
    max-height: 90%;
    aspect-ratio: 1/1;
  }

  .ingredientDetails {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .ingredientTitle {
      margin-right: 55px;
      height: 55px;
      font-size: large;
    }
  }
}