$cautionYellow: rgb(255, 208, 0);
$dangerRed: red;

.ingredients {
  height: 100%;
  width: 100%;

  .ingredientsFilters {
    display: flex;
    flex-direction: row;
  }

  .ingredientsList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.ingredientContent {
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  padding-right: 6px;

  .ingredientTitle {
    margin: 0 40px 0 0;
  }

  .scientificName {
    color: rgba(1, 1, 1, 0.75);
    font-style: italic;
    margin-top: -4px;
    margin-bottom: 4px;
  }

  width: 100%;
  height: 100%;
  align-items: start;
  flex-direction: row;

  .ingredientImage {
    position: relative;
    min-height: 35%;
    max-height: 35%;
    aspect-ratio: 1/1;
    margin: 0 15px 15px 0;

    .actualImage {
      max-height: 100%;
      max-width: 100%;
      height: auto !important;
      width: auto !important;
      border: 1px solid black;
      border-radius: 10px;
    }
  }

  .ingredientPointsContainer {
    display: inline-block;
    position: relative;
    padding-left: 10px;
    margin-bottom: 10px;

    ul {
      padding: 5px 10px 5px 30px;
      margin: 0;
      margin-left: -5px;
      border-radius: 10px;
      border-top-left-radius: 0;
    }

    &.danger,
    &.caution {
      .ingredientPointsTitle {
        padding: 5px 10px;
        margin: 0 0 0 -5px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom: none;
      }

      ul {
        border: 1px solid;
      }
    }

    &.danger {
      .ingredientPointsTitle {
        background-color: $dangerRed;
      }

      ul {
        background-color: fade-out($color: $dangerRed, $amount: .8);
        border-color: $dangerRed;
      }
    }

    &.caution {
      .ingredientPointsTitle {
        background-color: $cautionYellow;
      }

      ul {
        background-color: fade-out($color: $cautionYellow, $amount: .8);
        border-color: $cautionYellow;
      }
    }
  }
}

.ingredientFlavor {
  border: solid grey 1px;
  border-radius: 10px;
  display: inline-block;
  padding: 1px 5px;
  color: white;
  margin-right: 2px;
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black,
    0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black,
    0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}

.ingredientSafetyIcon {
  &::before {
    position: absolute;
    content: '';
    left: calc(100% - 17px);
    width: 17px;
    height: 17px;
    border-bottom-left-radius: 10px;
    outline-width: 1px;
  }

  &.caution::before {
    background-color: $cautionYellow;
    outline-style: solid;
  }

  &.danger::before {
    background-color: $dangerRed;
    outline-style: solid;
  }
}