.full {
  background-color: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;

  > .belowTitle {
    display: flex;
    flex-grow: 1;
    flex-direction: row;

    > .content {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      color: black;
    }
  }
}

.titleBar {
  font-size: 3vw;
  display: flex;
  flex-direction: row;
  color: black;
  align-items: center;
}

.navigationBar {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  padding: 15px;
  z-index: 1;

  &:hover > .navigationLink > .caption {
    width: 100px;
    opacity: 1;
  }

  .navigationLink {
    position: relative;
    transition-property: box-shadow;
    transition-duration: 0.2s;
    cursor: pointer;
    overflow: hidden;
    padding: 5px;
    align-self: flex-start;
    display: inline-flex;
    flex-shrink: 1;
    align-items: center;
    margin-bottom: 15px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 100px;

    &::before {
      z-index: -1;
      height: 100%;
      width: 100%;
      content: "";
      left: 0px;
      position: absolute;
      transition-property: opacity;
      transition-duration: 0.2s;
      background-image: linear-gradient(
        to bottom right,
        rgb(255, 186, 122),
        rgb(118, 255, 152)
      );
      opacity: 0;
    }

    &.selected::before {
      opacity: 1;
    }

    &:hover {
      box-shadow: black 2px 2px 2px 0px;
    }

    .caption {
      transition-property: width, opacity;
      transition-duration: 0.2s;
      width: 0px;
      opacity: 0;
    }
  }
}
