.app {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100vh;
  width: 100vw;

  > .page {
    display: flex;
    flex-direction: column;
    height: 100%;

    .header {
      display: inline-flex;
      flex-wrap: wrap;
      border-style: none dashed dashed none;
      border-radius: 12px;
      border-width: 1px;
      border-color: rgba(0, 0, 0, 0.5);

      > .title {
        display: flex;
        margin-right: 10px;

        > .text {
          font-size: 45px;
          margin-top: -11px;
        }
      }
    }

    > .belowTitle {
      display: flex;
      flex-grow: 1;
      align-items: stretch;
      justify-items: stretch;
      justify-content: stretch;

      > .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: hidden;
        padding-top: 2px;
        margin-top: 0px;
      }
    }
  }
}

.navigationBar {
  z-index: 1;
  display: inline-flex;
}
