.iconButton {
  width: 75px;
}

.button {
  display: inline-flex;
  padding: 2px;
  justify-content: center;
  align-items: flex-start;
  margin: 2px;

  .caption {
    font-size: 12px;
    text-align: center;
  }
}

.highlightable {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;

  &::after {
    z-index: -1;
    height: 100%;
    width: 100%;
    content: "";
    left: 0px;
    top: 0px;
    position: absolute;
    transition-property: opacity;
    transition-duration: 0.2s;
    background-image: linear-gradient(
      to bottom right,
      rgb(255, 186, 122),
      rgb(118, 255, 152)
    );
    opacity: 0;
  }

  &.highlighted {
    &::after {
      opacity: 1;
    }
  }

  &::before {
    z-index: -1;
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: white;
  }
}

.clickable {
  user-select: none;
  transition-property: transform, box-shadow;
  transition-duration: 0.1s;

  &:not(.selected):not(.disabled) {
    cursor: pointer;

    &:hover {
      transform: translate(-3px, -3px);
      box-shadow: rgb(0, 0, 0) 2px 2px 1px 1px;
    }
  }

  &.clicked {
    transform: unset !important;
  }
}

.launchButton {
  display: flex;
  font-size: large;
  align-items: flex-end;
  > * {
    margin: 2px;
  }
}
