.paddingRight {
  width: 3px;
}

.filter {
  padding: 5px;
  user-select: none;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  margin: 2px;
  align-items: center;
  overflow: visible;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 10px;

  &.expanded {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-style: none;
    margin-bottom: 3px;

    .filterIcon {
      border-style: none;
      margin-right: 6px;
    }
  }

  .filterIcon {
    width: 22px;
    height: 25px;
    margin: -7px 0px -7px -5px;
    padding: 7px 0px 0px 5px;
    border-bottom-right-radius: 0px;
    margin-right: 5px;
    border-top-right-radius: 0px;
    border-style: none;
    border-right-style: solid;
  }

  .dropdown {
    position: absolute;
    z-index: 997;
    align-items: flex-start;
    background-color: white;
    border-style: solid;
    border-top-style: none;
    border-width: 0px;
    border-color: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    max-height: 0px;
    opacity: 0;
    pointer-events: none;
    top: 22px;
    left: 0px;
    margin-left: -1px;
    padding-top: 5px;
    transition: max-height .5s, opacity 0.1s;

    &.visible {
      opacity: 1;
      max-height: 100vh;
      pointer-events: unset;
      border-width: 1px;
    }

    .dropdownOption {
      transition-property: transform, max-height, padding, margin;
      transition-timing-function: linear;
      justify-content: flex-start;
      max-height: 0px;
      padding: 0px 7px;
      margin: 0px;
      width: calc(100% - 24px);
      
      .icon {
        transition-property: transform;
        transition-duration: 0.1s;
        transform: rotateX(0deg);
        
        &.remove {
          transform: rotate(45deg);
        }
      }
    }
    
    &.visible .dropdownOption {
      max-height: 999px;
      margin: 2px 4px;
      padding: 7px;
    }
  }
}
